body{
  font-family:Arial, sans-serif;
  background:#f4f4f4;
}

.container{
  text-align:center;
  padding:30px;
}

button{
  padding:10px 20px;
  background:#2563eb;
  color:white;
  border:none;
  border-radius:5px;
  cursor:pointer;
}

.card{
  background:white;
  margin:15px auto;
  width:300px;
  padding:20px;
  border-radius:10px;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
}
